@model Geoprofs.Models.Coworker

@{
	ViewData["Title"] = "Details";
}

<h1>Verlof aanvragen</h1>

<div class="container-table">
	<hr />
	<a class="button padding" asp-action="Create">Nieuwe aanvraag +</a>
	<!--
	<div class="form-shadow"></div>
	<div class="container create-request">
		<form style="width: 100% !important;" class="request-form">
			<h1 class="text-center" style="margin: 0 !important;">Nieuwe aanvraag</h1>
			<div class="name-container">
			<input type="date" name="Username" id="Username" placeholder="dd-mm-yyyy" />
			<input type="date" name="Username" id="Username" placeholder="dd-mm-yyyy" />
			</div>
			<textarea placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit massa in lectus dignissim, et pellentesque tortor fringilla. Cras euismod."></textarea>
			<select>
				<option value="undefined">Kies een verlof type</option>
				<option value="optie 1">type 1</option>
				<option value="optie 2">type 2</option>
				<option value="optie 3">type 3</option>
			</select>
			<button type="submit" class="button">Versturen</button>
		</form>
	</div>
	</div>
	-->
	<table class="table">
		<thead>
			<tr>
				<th>Begin</th>
				<th>Einde</th>
				<th>Reden</th>
				<th>Status</th>
				<th>Actie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				@foreach (var item in Model.AbsenceRequest)
				{
				<tr>
					<td>
							@Html.DisplayFor(modelItem => item.AbsenceStart)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.AbsenceEnd)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.Note)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.absenceStatus)
					</td>
					<td>
						@using (Html.BeginForm("Delete", "AbsenceRequests")){
					<input type="hidden" runat="server" value="id_@item.absenceId" id="id_@item.absenceId" name="id_@item.absenceId"/>
					<input type="hidden" runat="server" value="@item.absenceId" id="id" name="id"/>
						<button runat="server" type="submit" class="button-reset" id="@item.absenceId" name="id"><img src="/media/Mask Group 6.png"><span>Intrekken</span></button>

					}
					</td>
				</tr>
				}
		</tbody>
	</table>
</div>

