@using Newtonsoft.Json

@model Geoprofs.Models.Coworker

@{
	ViewData["Title"] = "Details";
}

<h1>Verlof aanvragen</h1>

<div class="container-table">
	<hr />
	<a class="button padding" id="nieuwe-aanvraag">Nieuwe aanvraag +</a>

	<div class="form-shadow hidden"></div>
	<div class="container create-request hidden">
		<div style="width: 100% !important;">
			@using (Html.BeginForm("create", "AbsenceRequests",  
            FormMethod.Post, new { @class="request-form" }))
			{
				<h1 class="text-center" style="margin: 0 !important;">Nieuwe aanvraag</h1>
				<img src="/media/Mask Group 12.png" class="img-icon"/>
				<div class="name-container">
					<input type="date" name="AbsenceStart" id="AbsenceStart" placeholder="dd-mm-yyyy" />
					<input type="date" name="AbsenceEnd" id="AbsenceEnd" placeholder="dd-mm-yyyy" />
				</div>
				<textarea name="Note" style="width:100%; margin-top:5px; margin-bottom:5px;" id="Note" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit massa in lectus dignissim, et pellentesque tortor fringilla. Cras euismod."></textarea>
				<select name="absenceType" id="absenceType">
					@{
						var absencetype = JsonConvert.DeserializeObject<List<AbsenceType>>(TempData["abs"] as string);
								TempData.Keep("abs");

					}
					<option value="undefined">Kies een verlof type</option>
					@foreach(var items in absencetype)
					{
					<option value="@items.absenceTypeId">@items.absenceName</option>
					}

				</select>
				<input type="hidden" name="absencestatus" id="absencestatus" value="Openstaand" />
				<input type="hidden" name="Coworker" id="Coworker" value="@TempData.Peek("user_id")" />

				<button type="submit" style="margin-top:5px;" class="button">Versturen</button>
			}
			@{
				TempData.Keep("user_id");
			}
		</div>
	</div>
</div>


	<strong>Verlof dagen over:</strong> @TempData.Peek("absenceDays")
@{
	TempData.Keep("absenceDays");
}
<table class="table">
	<thead>
		<tr>
			<th>Begin</th>
			<th>Einde</th>
			<th>Reden</th>
			<th>Status</th>
			<th>Actie</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@foreach (var item in Model.AbsenceRequest)
			{
			<tr class="absence-request">
				<td>
						@{
							string start = item.AbsenceStart.Day +"-"+ item.AbsenceStart.Month+"-"+item.AbsenceStart.Year;
						}
						@start
				</td>
				<td>
						@{
							string end = item.AbsenceEnd.Day + "-" + item.AbsenceEnd.Month + "-" + item.AbsenceEnd.Year;
						}
						@end
				</td>
				<td>
						@Html.DisplayFor(modelItem => item.Note)
				</td>
				<td>
						@Html.DisplayFor(modelItem => item.absenceStatus)
				</td>
				<td>
						@using (Html.BeginForm("Delete", "AbsenceRequests"))
						{
						<input type="hidden" runat="server" value="id_@item.absenceId" id="id_@item.absenceId" name="id_@item.absenceId" />
						<input type="hidden" runat="server" value="@item.absenceId" id="id" name="id" />
						<button runat="server" type="submit" class="button-reset intrekken" id="@item.absenceId" name="id"><img src="/media/Mask Group 6.png"><span>Intrekken</span></button>

						}
				</td>
			</tr>
			}
	</tbody>
</table>
</div>

