@model IEnumerable<Geoprofs.Models.Coworker>
@using Newtonsoft.Json;



@{
    ViewData["Title"] = "Index";
    int Jaar = DateTime.Now.Year;
    int Januari = 31;
    int Schrikkeljaar = Jaar % 4;
    int Februari;
    if(Schrikkeljaar == 0)
    {
        Februari = 29;
    }
    else
    {
        Februari = 28;
    }
    int Maart = 31;
    int April = 30;
    int Mei = 31;
    int Juni = 30;
    int Juli = 31;
    int Augustus = 31;
    int September = 30;
    int Oktober = 31;
    int November = 30;
    int December = 31;

    int[] arr = { 0,Januari, Februari, Maart, April, Mei, Juni, Juli, Augustus, September, Oktober, November, December }; 
    int currentMonth = DateTime.Now.Month;
    int currentYear = DateTime.Now.Year;
    int CurrentMonth = DateTime.Now.Month;

    if(TempData["month"] != null && TempData["Year"] != null)
    {
        currentMonth =(int) TempData["month"];
        currentYear =(int) TempData["Year"];
        CurrentMonth = (int)TempData["month"];


    }

    int VorigeMaand = 0;
    int MomenteleMaand = 0;
    int Loop = 1;
    int volgendemaand = 0;
    while (Loop != 13)
    {
        if(Loop == CurrentMonth)
        {
            if(Loop == 1)
            {
                VorigeMaand = arr[11];
                volgendemaand = arr[Loop + 1];
            }
            else if(Loop == 12)
            {
                volgendemaand = arr[1];
                VorigeMaand = arr[Loop - 1];
            }
            else
            {
                VorigeMaand = arr[Loop - 1];
                volgendemaand = arr[Loop + 1];
            }
            MomenteleMaand = arr[Loop];
        }
        Loop++;
    }

    DateTime value = new DateTime(currentYear, currentMonth, 1);
    int StartDayLastMonth = (int)value.DayOfWeek;
    if(StartDayLastMonth != 0)
    {
    StartDayLastMonth = StartDayLastMonth - 1;
    }



}
<h1 style="margin-bottom: 50px;">Verlof planning</h1>

@using (Html.BeginForm("PastMonth", "AbsenceRequests"))
{
    <input type="hidden" name="month" value="@currentMonth" id="month"/>
    <input type="hidden" name="year" value="@currentYear" id="year"/>

    <button type="submit">Vorige</button>
}

@using (Html.BeginForm("NextMonth", "AbsenceRequests"))
{
        <input type="hidden" name="month" value="@currentMonth" id="month"/>
    <input type="hidden" name="year" value="@currentYear" id="year"/>
    <button type="submit">Volgende</button>
}
@currentMonth
<br/>
@currentYear

@{
    int displayLoop = 1;
    int FullWeek = 1;
    int lastmonth = 0;

    int displayLastMonth = VorigeMaand - StartDayLastMonth;
}


@while (displayLoop <= MomenteleMaand){
    if(FullWeek == 1)
    {
            @:<div class="row mobile-styling">

    }


        @while(displayLastMonth != VorigeMaand){    // vorige maand
            displayLastMonth++;

                @:<div class="col single-day last-month">
            <p class="number">
                    @displayLastMonth
                    </p>
        @foreach (var item in Model)
        {
            @foreach (var item2 in item.AbsenceRequest)
            {
                if (item.supervisor == (int)TempData["supervisor"])
                { 
                    TempData.Keep("supervisor");


                int start = item2.AbsenceStart.Day;
                int end = (int)item2.AbsenceEnd.Day;
                int startmonth = item2.AbsenceStart.Month;
                int endmonth = item2.AbsenceEnd.Month;
                int LastMonthForDisplay = currentMonth - 1;
                int StartYear = item2.AbsenceStart.Year;
                int endYear = item2.AbsenceEnd.Year;

                //@startmonth

                if (currentYear <= StartYear && start <= displayLastMonth && LastMonthForDisplay == startmonth && endmonth > LastMonthForDisplay || currentYear <= StartYear && start <= displayLastMonth && LastMonthForDisplay == startmonth && endmonth == LastMonthForDisplay && end >= displayLastMonth)
                {
                    <p class="name">
                        @Html.DisplayFor(modelItem => item.CoworkerName)
                    </p>
                }

            }
        }
    }
                @:</div>
            FullWeek++;
        }

    <div class="col single-day">
        <p class="number">
            @displayLoop
            </p>


    @foreach (var item in Model) {

            @foreach (var item2 in item.AbsenceRequest)
            {
                if (item.supervisor == (int)TempData["supervisor"])
                {
                    TempData.Keep("supervisor");
                    int start = item2.AbsenceStart.Day;
                    int end = (int)item2.AbsenceEnd.Day;
                    int startmonth = item2.AbsenceStart.Month;
                    int endmonth = item2.AbsenceEnd.Month;
                    int startyear = item2.AbsenceStart.Year;
                    int endyear = item2.AbsenceEnd.Year;



                    if (currentYear >= startyear && currentYear <= endyear && start <= displayLoop && end >= displayLoop && currentMonth == startmonth && currentMonth == endmonth || currentYear == startyear && startmonth < currentMonth && endmonth >= currentMonth && end >= displayLoop || currentYear == startyear && startmonth < currentMonth && endmonth > currentMonth || currentYear == startyear && startmonth == currentMonth && endmonth > currentMonth && start <= displayLoop||currentYear >= startyear && currentYear <= endyear && endmonth >= currentMonth && end >= displayLoop && startyear < currentYear)
                    {
                        <p class="name">

                            @Html.DisplayFor(modelItem => item.CoworkerName)
                        </p>
                    }
                }
            }
        }
    </div>

    if(displayLoop == MomenteleMaand && FullWeek != 7)
    {
        
            displayLastMonth = 0;
        

        @while (FullWeek != 7) {    // volgende maan displayen
            displayLastMonth++;

            @:<div class="col single-day next-month">
                <p class="number">
            @displayLastMonth
            </p>
            @foreach (var item in Model)
            {
                @foreach (var item2 in item.AbsenceRequest)
                {
                    if (item.supervisor == (int)TempData["supervisor"])
                    {
                    TempData.Keep("supervisor");

                        int start = item2.AbsenceStart.Day;
                        int end = (int)item2.AbsenceEnd.Day;
                        int startmonth = item2.AbsenceStart.Month;
                        int endmonth = item2.AbsenceEnd.Month;
                        int NextMonthForDisplay = currentMonth + 1;
                        if (NextMonthForDisplay == 13)
                        {
                            NextMonthForDisplay = 1;
                        }
                        int endyear = item2.AbsenceEnd.Year;
                        if (currentYear < endyear && end >= displayLastMonth && endmonth >= NextMonthForDisplay || NextMonthForDisplay >= startmonth && NextMonthForDisplay == endmonth && end >= displayLastMonth)

                        {
                            <p class="name">
                                @Html.DisplayFor(modelItem => item.CoworkerName)
                            </p>
                        }
                    }
                }
        }
            @:</div>
            FullWeek++;
        }
    }




    @if(FullWeek == 7){
        FullWeek = 0;
        @:</div>
    }
    FullWeek++;

    displayLoop++;

}
