@model IEnumerable<Geoprofs.Models.AbsenceRequest>

@{
	ViewData["Title"] = "Index";
}

<h1>Verlof goedkeuren</h1>
<div class="button-container">
<a asp-action="" class="button padding">Geselecteerde afkeuren</a>
<a asp-action="" class="button padding">Geselecteerde goedkeuren</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				Select
			</th>
			<th>
				@Html.DisplayNameFor(model => model.coworker.CoworkerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AbsenceStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AbsenceEnd)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Note)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AbsenceType.absenceName)
			</th>
			<th>
				Actie
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<label>
						<input type="checkbox"/>
						<span class="checkbox"></span>
					</label>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.coworker.CoworkerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AbsenceStart)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AbsenceEnd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Note)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AbsenceType.absenceName)
				</td>
				<td>
					<div class="options-icon" onclick="ShowPopUp('@item.absenceId')"><img src="/media/Mask Group 7.png"/></div> 
					<div class="pop-up" id="@item.absenceId">
						<a asp-action="Edit" asp-route-id="@item.absenceId" class="color-green">Goedkeuren</a> 
						<p> | </p>
						<a asp-action="Details" asp-route-id="@item.absenceId" class="color-red">Afkeuren</a> 
					</div>

			</td>
			</tr>
		}
	</tbody>
</table>
<script>
	function acceptRequest(id){
		event.preventDefault();
		document.getElementById("request"+id).value = "Geaccepteerd";

	};
	function denieRequest(id){
		event.preventDefault();

		document.getElementById("request"+id).value = "Geweigerd";

	};

</script>